<a href="https://colab.research.google.com/github/Manojgharge07/Assignments/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q. 1 Whatâ€™s The Difference Between The Python append() and extend() Methods?**

1. The main difference is append( ) method add elements in list. And extend( ) method join or concatenates the whole list that means 1st list add with another.

2. In append add only single elements in list and in extend we can add multiple elements.

In [ ]:
l = ["geeks", "for"]
l.append("geeks")
print(l)

['geeks', 'for', 'geeks']

In [ ]:
l = ["geeks", "for","geeks"]
l2=["geeks", "for","geeks"]
l.extend(l2)
print(l)

['geeks', 'for', 'geeks', 'geeks', 'for', 'geeks']

# **Q. 2 Write a Python program to append a list to the second list**

In [ ]:
l = ["geeks", "for","geeks"]
l2=[10,20,30,40,50]
l.append(l2)
print(l)

['geeks', 'for', 'geeks', [10, 20, 30, 40, 50]]

# **Q. 3 Write a Python program to find the third-largest number in a list**

In [ ]:
l=[5,8,3,9,6,10,7,12,1,15,22,18]
for j in range(3):
  max=l[0]
  for i in l:
    if i>max:
       max=i
  if j==2:
     print(max)
  else:
     l.remove(max)

15

# **Q. 4 Write a Python program to get the frequency of the elements in a list.**

In [ ]:
s="1,2,1,3,2,4,5,3,4,7,5,7,4,7,4,4,3,2,2,"
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1

In [ ]:
d

{',': 19, '1': 2, '2': 4, '3': 3, '4': 5, '5': 2, '7': 3}

# **Q.5 Write a Python program to check whether a list contains a sublist**

In [ ]:
a = [1, 2, 3, 4, 5]
b = [1, 2]
 
# using set to find if element exists in another list
result = set(x in a for x in b)
 
flag = 0
 
for ans in result:
    if ans == False:
        flag = 1
 
# Printing list
print("Original list : " + str(a))
print("Original sub list : " + str(b))
 
if flag == 0:
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

Original list : [1, 2, 3, 4, 5]
Original sub list : [1, 2]
Yes, list is subset of other.

# **Q. 6 Write a Python program to generate all sublists of a list**

# **Q. 8 How to flatten a list in python?**


There are three ways to flatten a Python list:


1. Using a list comprehension.

2. Using a nested for loop.

3. Using the itertools. chain() method.

# **Q. 9 How to sort a list in ascending and descending order without using the sort function?**

In [ ]:
my_list = [4, 2, 3, -1, -2, 0, 1]   #Ascending order

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):

        if my_list[i] > my_list[j]:
            my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[-2, -1, 0, 1, 2, 3, 4]

In [ ]:
my_list = [4, 2, 3, -1, -2, 0, 1]   #Descending order

for i in range(len(my_list)):
    for j in range(i + 1, len(my_list)):

        if my_list[i] < my_list[j]:
            my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[4, 3, 2, 1, 0, -1, -2]

# **Q. 10 How to sort a tuple?**

To sort a Tuple in Python, use sorted() builtin function.

In [ ]:
def last(n):
    return n[m]  
   
# function to sort the tuple   
def sort(tuples):
  
    # We pass used defined function last
    # as a parameter. 
    return sorted(tuples, key = last)
   
# driver code  
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)]
m = 2
print("Sorted:"),
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

# **Q. 11 Write a Python program to convert a list of multiple integers into a single intege**

a. [11, 33, 50] >>> 113350

In [ ]:
x = [12, 15, 17]
  
# iterating each element
for i in x:
    print(i, end="")

121517